html{
    margin:0;
    padding:0;
    border:0;
    vertical-align: baseline;
}

/*Defines spacing, font, and appearance of all bodycopy on the site*/
.bodycopy{
    font-family: "Montserrat", sans-serif;
    font-size:18px;
    max-width:60ch;
    padding-bottom:30px;
    line-height: 30px;
    color:#263238
}

/*Defines the font for all "headline"-like elements*/
.headline{
    font-family: "Raleway", sans-serif;
    color:#000a12;
}

/*Flattens the surroundings of the body in the HTML document*/
body{
    padding:0;
    margin:0;
    border:0;
}

/*Establishes white space around the content area to improve visual appearance and readability*/
.content{
    margin-right:auto;
    margin-left:10vw;
    max-width:60%;
}
/*Changes the color of hovered-over anchor tags*/
a:hover{
    color:#607d8b;
    transition:0.3s;
    cursor:pointer;
}

/*Alters the color of any horizontal rule elements*/
hr {
    border: 1px solid lightgray;
}

/*Default anchor color set to black (used for anchors in bodycopy)*/
a{
    color:black;
    padding-bottom:10px;
    text-decoration: none;
}

li{
    list-style-type: none;
}

li ul li{
    padding-bottom:20px;
    margin:0;
    border:0;
    position:relative;
    left:20px;
}

div{
    padding-bottom:40px;
}

ul{
    padding:0;
    margin:0;
    border:0;
}